* {
    font-family: 'Montserrat', sans-serif;
}
body {
    display: grid;
    justify-content: center;
    place-items: center;
}
fieldset {
    display: none;
}
fieldset:target {
    display: flex;
    flex-direction: column;
    border: none;
    width: 25vw;
    transition: 1s;
    gap: 1em;
    margin-top: 3em;
}
ul {
    opacity: 0;
    transition: 1s;
}
ul:target {
    opacity: 1;
}
li {
    list-style-type: none;
    margin: 1em 0;
    margin-left: -2em;
}
br {
    display: none;
}
legend {
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: .1em solid #000;
    margin: 2em 0;
}
label {
    font-weight: bold;
}
input, textarea, select {
	border-radius: .4em;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    font-size: 1em;
	text-align: left;
	border: none;
	padding: .5em .5em;
    margin-bottom: 1em;
}
input[type=submit] {
    background-color: #059862;
    color: white;
    font-size: 1em;
    cursor: pointer;
}
a {
    text-decoration: none;
	background-color: #000;
	border: none;
	color: white;
	text-align: center;
	font-size: 1em;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
	cursor: pointer;
    padding: .5em .5em;
    border-radius: .4em;
}