<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Minor Enquete Aron Pelgrim</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/mainStyles.css">
        <script src="../scripts/script.js" defer></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>CMD Minor Webdevelopment</h1>
        <form method="post" enctype="application/x-www-form-urlencoded" action="/result">
            <fieldset id="sgegevens">
                <label for="naam">Naam</label><br>
                <input type="text" value="" id="naam" name="inputvalue" id="hans" placeholder="Aron Pelgrim" required><br>
                <label for="studentgegevens">Studentgegevens</label><br>
                <input type="text" id="studentgegevens" name="inputvalue" placeholder="500807406" required><br>
            </fieldset>
            <fieldset id="css">
                <legend>Vak #1</legend>
                <label for="naamVak">Naam vak</label><br>
                <input type="text" id="naamVak" name="inputvalue" placeholder="CSS to the rescue" value="CSS to the rescue" required><br>
                <label for="docent">Docent</label><br>
                <input type="text" id="docent" name="inputvalue" placeholder="Robert Spier" required><br>
                <label for="vakperiode">Vakperiode</label><br>
                <input type="date" id="vakperiode" name="inputvalue" required>
                <input type="date" id="vakperiode" name="inputvalue" required><br>
                <label for="beoordeling">Beoordeel het vak</label><br>
                <select name="inputvalue" id="beoordeling">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select><br>
                <label for="lesstof">Hoe moeilijk is de lesstof?</label><br>
                <textarea id="lesstof" name="inputvalue" placeholder="Heel moeilijk." required></textarea><br>
                <label for="uitleg">Hoe duidelijk is het uitgelegd?</label><br>
                <textarea id="uitleg" name="inputvalue" placeholder="Heel duidelijk." required></textarea><br>
                <label for="inzicht ">Hoe goed snap je het?</label><br>
                <textarea id="inzicht" name="inputvalue" placeholder="Ik snap het heel goed." required></textarea><br>
            </fieldset>
            <fieldset id="webapp">
                <legend>Vak #2</legend>
                <label for="naamVak">Naam vak</label><br>
                <input type="text" id="naamVak" name="inputvalue" placeholder="Web app from scratch" value="Web app from scratch" required><br>
                <label for="docent">Docent</label><br>
                <input type="text" id="docent" name="inputvalue" placeholder="Robert Spier" required><br>
                <label for="vakperiode">Vakperiode</label><br>
                <input type="date" id="vakperiode" name="inputvalue" required>
                <input type="date" id="vakperiode" name="inputvalue" required><br>
                <label for="beoordeling">Beoordeel het vak</label><br>
                <select name="inputvalue" id="beoordeling">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select><br>
                <label for="lesstof">Hoe moeilijk is de lesstof?</label><br>
                <textarea id="lesstof" name="inputvalue" placeholder="Heel moeilijk." required></textarea><br>
                <label for="uitleg">Hoe duidelijk is het uitgelegd?</label><br>
                <textarea id="uitleg" name="inputvalue" placeholder="Heel duidelijk." required></textarea><br>
                <label for="inzicht ">Hoe goed snap je het?</label><br>
                <textarea id="inzicht" name="inputvalue" placeholder="Ik snap het heel goed." required></textarea><br>
            </fieldset>
            <fieldset id="browsertech">
                <legend>Vak #3</legend>
                <label for="naamVak">Naam vak</label><br>
                <input type="text" id="naamVak" name="inputvalue" placeholder="Browser Technologies" value="Browser Technologies" required><br>
                <label for="docent">Docent</label><br>
                <input type="text" id="docent" name="inputvalue" placeholder="Robert Spier" required><br>
                <label for="vakperiode">Vakperiode</label><br>
                <input type="date" id="vakperiode" name="inputvalue" required>
                <input type="date" id="vakperiode" name="inputvalue" required><br>
                <label for="beoordeling">Beoordeel het vak</label><br>
                <select name="inputvalue" id="beoordeling">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select><br>
                <label for="lesstof">Hoe moeilijk is de lesstof?</label><br>
                <textarea id="lesstof" name="inputvalue" placeholder="Heel moeilijk." required></textarea><br>
                <label for="uitleg">Hoe duidelijk is het uitgelegd?</label><br>
                <textarea id="uitleg" name="inputvalue" placeholder="Heel duidelijk." required></textarea><br>
                <label for="inzicht ">Hoe goed snap je het?</label><br>
                <textarea id="inzicht" name="inputvalue" placeholder="Ik snap het heel goed." required></textarea><br>
            </fieldset>
            <fieldset id="progressivewa">
                <legend>Vak #4</legend>
                <label for="naamVak">Naam vak</label><br>
                <input type="text" id="naamVak" name="inputvalue" placeholder="Progressive Web Apps" value="Progressive Web Apps" required><br>
                <label for="docent">Docent</label><br>
                <input type="text" id="docent" name="inputvalue" placeholder="Robert Spier" required><br>
                <label for="vakperiode">Vakperiode</label><br>
                <input type="date" id="vakperiode" name="inputvalue" required>
                <input type="date" id="vakperiode" name="inputvalue" required><br>
                <label for="beoordeling">Beoordeel het vak</label><br>
                <select name="inputvalue" id="beoordeling">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select><br>
                <label for="lesstof">Hoe moeilijk is de lesstof?</label><br>
                <textarea id="lesstof" name="inputvalue" placeholder="Heel moeilijk." required></textarea><br>
                <label for="uitleg">Hoe duidelijk is het uitgelegd?</label><br>
                <textarea id="uitleg" name="inputvalue" placeholder="Heel duidelijk." required></textarea><br>
                <label for="inzicht ">Hoe goed snap je het?</label><br>
                <textarea id="inzicht" name="inputvalue" placeholder="Ik snap het heel goed." required></textarea><br>
            </fieldset>
            <fieldset id="realtimeweb">
                <legend>Vak #5</legend>
                <label for="naamVak">Naam vak</label><br>
                <input type="text" id="naamVak" name="inputvalue" placeholder="Real-Time Web" value="Real-Time Web" required><br>
                <label for="docent">Docent</label><br>
                <input type="text" id="docent" name="inputvalue" placeholder="Robert Spier" required><br>
                <label for="vakperiode">Vakperiode</label><br>
                <input type="date" id="vakperiode" name="inputvalue" required>
                <input type="date" id="vakperiode" name="inputvalue" required><br>
                <label for="beoordeling">Beoordeel het vak</label><br>
                <select name="inputvalue" id="beoordeling">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select><br>
                <label for="lesstof">Hoe moeilijk is de lesstof?</label><br>
                <textarea id="lesstof" name="inputvalue" placeholder="Heel moeilijk." required></textarea><br>
                <label for="uitleg">Hoe duidelijk is het uitgelegd?</label><br>
                <textarea id="uitleg" name="inputvalue" placeholder="Heel duidelijk." required></textarea><br>
                <label for="inzicht ">Hoe goed snap je het?</label><br>
                <textarea id="inzicht" name="inputvalue" placeholder="Ik snap het heel goed." required></textarea><br>
            </fieldset>
            <fieldset id="hcd">
                <legend>Vak #6</legend>
                <label for="naamVak">Naam vak</label><br>
                <input type="text" id="naamVak" name="inputvalue" placeholder="Human Centered Design" value="Human Centered Design" required><br>
                <label for="docent">Docent</label><br>
                <input type="text" id="docent" name="inputvalue" placeholder="Robert Spier" required><br>
                <label for="vakperiode">Vakperiode</label><br>
                <input type="date" id="vakperiode" name="inputvalue" required>
                <input type="date" id="vakperiode" name="inputvalue" required><br>
                <label for="beoordeling">Beoordeel het vak</label><br>
                <select name="inputvalue" id="beoordeling">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select><br>
                <label for="lesstof">Hoe moeilijk is de lesstof?</label><br>
                <textarea id="lesstof" name="inputvalue" placeholder="Heel moeilijk." required></textarea><br>
                <label for="uitleg">Hoe duidelijk is het uitgelegd?</label><br>
                <textarea id="uitleg" name="inputvalue" placeholder="Heel duidelijk." required></textarea><br>
                <label for="inzicht ">Hoe goed snap je het?</label><br>
                <textarea id="inzicht" name="inputvalue" placeholder="Ik snap het heel goed." required></textarea><br>
                <input type="submit" class="next" value="Versturen"/>
            </fieldset>
        </form>
    </body>
</html>